### pretreatment

In [23]:
import numpy as np
import pandas as pd

Import datasets

In [24]:
df_books = pd.read_csv("books.csv")
df_booktags = pd.read_csv("book_tags.csv")
df_ratings = pd.read_csv("ratings.csv")

Overwritten the books_id with goodread_books_id in ratings.csv for merging purp

In [25]:
book_id_map = df_books.set_index("book_id")["goodreads_book_id"].to_dict()
df_ratings["book_id"] = df_ratings["book_id"].map(book_id_map)
df_ratings.head()

   user_id  book_id  rating
0        1     1232       5
1        2      231       4
2        2     4865       5
3        2     4887       5
4        2      998       3

In [26]:
df_ratings.to_csv("ratings_autorec.csv", index=False)